<app-layout>
  <div class="homePerfil">
    <main class="perfil-container py-4">
      <div class="perfil-header card shadow-sm p-3 mb-4 d-flex align-items-center gap-4">
        <div class="avatar-wrapper position-relative">
          <img *ngIf="usuario?.fotoPerfil; else placeholderAvatar" [src]="usuario.fotoPerfil + '?' + usuario.id"
            alt="Avatar" class="avatar-marcado propio-avatar">
          <ng-template #placeholderAvatar>
            <img src="recursos/fotoPerfil.jpg" alt="Avatar" class="avatar-marcado propio-avatar">
          </ng-template>
        </div>
        <div class="flex-grow-1 d-flex flex-column justify-content-center">
          <h2 class="nombre-usuario mb-1">{{ usuario?.username }}</h2>
          <p class="text-muted mb-2">{{ seguidores?.length }} Seguidores </p>
          <button *ngIf="!esMiPerfil" class="btn btn-primary btn-sm w-auto" (click)="enviarSolicitudAmistad()">Agregar
            amigo
          </button>
        </div>
        <div *ngIf="esMiPerfil" class="subir-foto mt-2">
          <label for="fotoPerfil" class="btn-editar">
            Cambiar foto de perfil
          </label>
          <input id="fotoPerfil" type="file" accept="image/*" (change)="onFotoSeleccionada($event)"
            [disabled]="!usuario?.id" hidden />
        </div>
      </div>

      <div class="perfil-body">
        <app-favoritas-perfil [usuario]="usuario" [esMiPerfil]="esMiPerfil"></app-favoritas-perfil>
        <app-listas-publicas-perfil [usuario]="usuario" [esMiPerfil]="esMiPerfil"></app-listas-publicas-perfil>
        <app-actividad-perfil [usuario]="usuario"></app-actividad-perfil>
        <app-opiniones-perfil [usuario]="usuario"></app-opiniones-perfil>
      </div>

    </main>
  </div>
</app-layout>