/* Layout principal */


:host {
    display: block;
    min-height: 100%;
    width: 100%;
    background-color: #00121A;
}


/*ESTILOS DEL COMPONENTE DE LISTA DE SERIES*/

.listas-page {
  background-color: #00121A;
  min-height: 100vh;
  padding: 40px 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ----------- Encabezado ----------- */
.listas-header {
  text-align: center;
  color: #80CED7;
}

.btn-crear-lista-centrado {
  background-color: #80CED7;
  color: #00121A;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  padding: 12px 50px;
  font-size: 1.1rem;
  transition: all 0.2s ease;
  cursor: pointer;
    margin-bottom: 20px;
}

.btn-crear-lista-centrado:hover {
  background-color: #001A26;
  color: #80CED7;
  transform: translateY(-2px);
}

/* ----------- Listas grid ----------- */
.listas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 25px;
  justify-content: center;
  width: 80%;
  max-width: 1100px;
}

.listas-grid.centradas {
  justify-items: center;
}

/* ----------- Cards Listas ----------- */
.lista-card-horizontal {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #001A26;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s;
  padding: 20px;
  color: #fff;
}

.lista-card-horizontal:hover {
  transform: scale(1.02);
}

.lista-info {
  flex: 1;
  padding-right: 10px;
}

.lista-info h3 {
  color: #80CED7;
  margin-bottom: 8px;
}

.lista-info p {
  color: #bbb;
  margin-bottom: 5px;
}

.btn-eliminar {
  background: none;
  border: none;
  color: #80CED7;
  font-size: 1.3rem;
  cursor: pointer;
  transition: color 0.2s, transform 0.2s;
}

.btn-eliminar:hover {
  color: #ff4d4d;
  transform: scale(1.1);
}

/* ----------- Modal ----------- */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  z-index: 1000;
}

.modal-crear-lista {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #001A26;
  border-radius: 16px;
  z-index: 1001;
  width: 400px;
  color: #fff;
  padding: 20px;
}

.modal-content {
  border: none;
}

.btn-cerrar {
  background: none;
  border: none;
  color: #80CED7;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.2s;
}

.btn-cerrar:hover {
  color: #ff4d4d;
}

.btn-crear {
  background-color: #80CED7;
  color: #00121A;
  font-weight: 600;
  border-radius: 12px;
  padding: 8px 20px;
  border: none;
  transition: background 0.2s, transform 0.2s;
}

.btn-crear:hover {
  background-color: #00121A;
  color: #80CED7;
  transform: translateY(-2px);
}

.text-modal {
   margin-bottom: 20px;
   margin-top: 20px;
}