<div class="layout">

  <!-- Logo -->
  <div *ngIf="auth.hasValidSession()" class="logo-container" routerLink="/">
    <img src="recursos/Logo.png" alt="Logo" class="logo">
  </div>


  <!-- Sidebar -->
  <aside class="sidebar">
    <nav class="navbar">

      <a class="nav-link" routerLink="/" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a class="nav-link" routerLink="/favoritas" routerLinkActive="active-link">Favoritos</a>
      <a class="nav-link" routerLink="/listas" routerLinkActive="active-link">Listas</a>
      <a class="nav-link" routerLink="/seguimiento" routerLinkActive="active-link">Seguimiento</a>
      <a class="nav-link" routerLink="/descubre" routerLinkActive="active-link">Descubre</a>
      <a class="nav-link" routerLink="/actividad" routerLinkActive="active-link">Actividad</a>

      <ng-container *ngIf="!auth.hasValidSession(); else loggedIn">
        <!-- <button class="btn" routerLink="/login">Iniciar Sesión</button>
        <button class="btn btn-primary" routerLink="/registro">Registrarse</button> -->
      </ng-container>

      <ng-template #loggedIn>
        <button class="btn btn-danger" (click)="auth.logout()">Cerrar Sesión</button>
      </ng-template>
    </nav>
  </aside>



  <div class="sidebar-usuario" *ngIf="auth.hasValidSession()" routerLink="/perfil">
    <img *ngIf="usuario?.fotoPerfil; else defaultAvatar" [src]="usuario?.fotoPerfil + '?' + usuario?.id"
      alt="Foto de perfil" class="sidebar-avatar" />

    <ng-template #defaultAvatar>
      <img src="recursos/fotoPerfil.jpg" alt="Avatar por defecto" class="sidebar-avatar" />
    </ng-template>

    <span class="user-name">{{ usuario?.username || 'Usuario' }}</span>
  </div>


  <ng-content>
  </ng-content>



</div>