<div class="auth-container">

  <div class="logo-wrapper" routerLink="/">
    <img src="recursos/Logo.png" alt="Logo" class="logo">
  </div>

  <div class="auth-card">

    <h2 class="auth-title">Crear Cuenta</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="auth-group">
        <label class="auth-label">Usuario</label>
        <input type="text" formControlName="username" class="auth-input" />
        <div class="auth-error" *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
          Mínimo 3 caracteres
        </div>
      </div>

      <div class="auth-group">
        <label class="auth-label">Email</label>
        <input type="email" formControlName="email" class="auth-input" />
        <div class="auth-error" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
          Email inválido
        </div>
      </div>

      <div class="auth-group">
        <label class="auth-label">Contraseña</label>
        <input type="password" formControlName="password" class="auth-input" />
        <div class="password-requirements" *ngIf="registerForm.get('password')?.touched">

          <p [class.ok]="passwordHas('upper')" [class.bad]="!passwordHas('upper')">
            * Una letra mayúscula
          </p>

          <p [class.ok]="passwordHas('number')" [class.bad]="!passwordHas('number')">
            * Un número
          </p>

          <p [class.ok]="passwordHas('special')" [class.bad]="!passwordHas('special')">
            * Un caracter especial
          </p>

          <p [class.ok]="passwordHas('length')" [class.bad]="!passwordHas('length')">
            * Mínimo 6 caracteres
          </p>

        </div>

        <div class="auth-error" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
          Mínimo 6 caracteres
        </div>
      </div>

      <button type="submit" class="auth-btn" [disabled]="registerForm.invalid">Registrarse</button>
    </form>

    <div class="auth-global-error" *ngIf="errorMessage">{{ errorMessage }}</div>

    <p class="auth-switch">
      ¿Ya tienes cuenta?
      <a routerLink="/login">Inicia sesión</a>
    </p>

  </div>

</div>